<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939954730010-p4q3v514csamfcqg0vctqgfn22rkcibk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939954730010-p4q3v514csamfcqg0vctqgfn22rkcibk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>939954730010-217263fgk1p6qgf5vqrn6dkf70mntk06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLku0k9x7nzv72ut6d9t0VYzJsu8qrPwE</string>
	<key>GCM_SENDER_ID</key>
	<string>939954730010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaUserApp</string>
	<key>PROJECT_ID</key>
	<string>wingsandthingspizza-4d6fc</string>
	<key>STORAGE_BUCKET</key>
	<string>wingsandthingspizza-4d6fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939954730010:ios:8e6619140c7416e8c00da3</string>
	<key>DATABASE_URL</key>
	<string>https://wingsandthingspizza-4d6fc-default-rtdb.firebaseio.com</string>
</dict>
</plist>